* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f6f6f6;
}

.catalog-product{
        grid-gap: 8px 0;
        max-width: 1400px !important;
        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        grid-template-rows: 1fr 32px 20px;
        padding: 24px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 1px 2px 0 #0000001a;
        margin-top: 24px;
}

.products-list {
    box-sizing: border-box !important;

        padding: 0 10px;
        width: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:rgb(18, 21, 24);
}

.product-price{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 21, 18);
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
}

.product-pricing{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-left: 30px;
    flex-direction: column;
    
}

.product-buy-button{
    align-items: center;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    line-height: 24px;
    outline: none;
    overflow: hidden;
    padding: 0;
    transition: opacity .3s;
    padding: 14px;
    background-color: #00000000;
}   
